@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kumbh Sans', sans-serif;
}

body {
    width: 100%;
}

h1{
    margin-right: 80px;
    margin-left: -40px;
}

.btn{
    position: absolute;
    margin: 30px 0 0 20px;
    display: inline-block;
    padding:10px 0 10px 0;
    font-size: 15px;
    border-radius: 10px;
    width: 250px;
    height: 40px;
    top: 80%;
    text-align: center;
    justify-content: center;
    background:hsl(26, 100%, 55%);
    color:hsl(0, 0%, 100%);
    text-decoration: none;
}

.btn:hover{
    background:hsl(25, 95%, 77%);
}

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: hsl(0, 0%, 100%);
    border-bottom: 2px solid grey;
}

#mobile{
    display: none;
    align-items: center;
}

#close{
    display: none;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -25%;
}

#navbar li{
    list-style: none;
    padding: 0 20px;
    position: relative;
}

#navbar li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    color: grey;
    transition: 0.3s ease;
}

#navbar li a:hover,
#navbar li a.active{
    color: black;
}

#navbar li a:hover::after{
    content:"";
    width: calc(100% - 40px);
    height: 3px;
    background:hsl(26, 100%, 55%);
    position: absolute;
    bottom: -27px;
    left: 20px;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.shopping div{
    height: 20px;
    width: 20px;
    line-height: 20px;
    border-radius: 5px;
    background: none;
    color: grey;
    font-size: 20px;
    margin-left: 1600%;
    text-align: center;
    cursor: pointer;
}

.shopping div:hover{
    font-weight: bold;
    color: black;
}

.shopping-cart{
    position: absolute;
    top: -100%; 
    right: 50px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px black;
    width: 300px;
    height: 200px;
    background:hsl(0, 0%, 100%);

}

.shopping-cart.active{
    top: 10%;
    transition:all 0.3s ease;
}

.shopping-cart .box{
    display: flex;
    align-items: center;
    gap: 5px;
    position: relative;
    margin: 8px 0;
}

.shopping-cart .box img{
    height: 55px;
    border-radius: 5px;
    margin-top: 15%;
}

.shopping-cart .box .fa-trash {
    font-size: 12px;
    position: absolute;
    top: 70%;
    right: 20px;
    cursor: pointer;
    color: grey;
    transform: translateY(-50%);
}

.shopping-cart .box .fa-trash:hover{
    font-size: 15px;
}

.shopping-cart .box h1{
    font-size: 15px;
    position: absolute;
    width: 300px;
    top: -10%;
    right: -32%;
    padding: 10px 0 10px 20px;
    border-bottom: 1px solid grey;
}

.shopping-cart .box .content h2{
    color: grey;
    font-size: 12px;
    margin-top: 10%;
    padding-left: 20px;
    display:flex;
}

.shopping-cart .box .content span{
    color: grey;
    font-size: 12px;
    padding:  20px 0 0 20px;
}

.shopping-cart .box .content .quantity{
    padding: 30px 0 0 10px;
}

.shopping-cart .box .content .total{
    font-size: 12px;
    margin: 10%;
    color: black;
    font-weight: bold;
}

.avatar{
    width: 35px;
    height: 35px;
}

.avatar:hover{
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 20px;
}

#prodetails{
    display: flex;
    margin-top: 20px;
    padding: 40px;
}

#prodetails .single-pro-image{
    width: 30%;
}
.small-img-group {
    display: flex;
    justify-content: space-between;
}

.small-img-col {
    flex-basis: 23%;
    padding: 20px 10px 10px 10px;
}

#prodetails #MainImg{
    border-radius: 10px;
}

#prodetails .small-img{
    border-radius: 10px;
}

#prodetails .small-img:hover{
    cursor: pointer;
    filter:opacity(40%);
    transition:all 0.3s ease;
}

#prodetails .small-img:hover.active{
    filter:opacity(40%);
    transition: 0.3s ease;
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 10px;
}

#prodetails .small-img-group .prev{
    position: absolute;
    padding: 6px 15px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    top: 55%;
    left: 5%;
    margin-top: -50px;
    color: grey;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition:all 0.3s ease;
    display: none;
}

#prodetails .small-img-group .next {
    position: absolute;
    text-align: center;
    justify-content: center;
    padding: 6px 15px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    top: 55%;
    left: 20%;
    margin-top: -50px;
    color: grey;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition:all 0.3s ease;
    display: none;
}

#prodetails .small-img-group .prev:hover,
#prodetails .small-img-group .next:hover {
      color:hsl(26, 100%, 55%);
      cursor: pointer;
}

#prodetails .single-pro-details{
    width: 70%;
    padding: 40px 60px;
}

#prodetails .single-pro-details h4{
    color:hsl(26, 100%, 55%);
    font-size: 10px;
    font-weight: 600;
    padding-bottom:  20px;
}

#prodetails .single-pro-details h2{
    color: black;
    font-size: 25px;
    font-weight: 800;
    padding-bottom: 40px;
}

#prodetails .single-pro-details p{
    color: grey;
    font-size: 16px;
    padding-bottom: 30px;
}

#prodetails .single-pro-details h3{
    color: black;
    font-size: 20px;
    padding-bottom: 8px;
}

#prodetails .single-pro-details h3 span{
    color: hsl(26, 100%, 55%);
    font-size: 13px;
    padding: 3px 5px;
    background-color:  hsl(25, 100%, 94%);
    margin-left: 20px;
    text-align: center;
    justify-content: center;
}

#prodetails .single-pro-details del{
    position: absolute;
    color: grey;
    font-size: 14px;
    padding-bottom: 30px;
    margin: 0 0 0 2px;
}


.single-pro-details .quantity button{
    width: 45px;
    height: 45px;
    color:hsl(0, 0%, 100%);
    border-radius: 10px;
    background: none;
    border: none;
}

.single-pro-details .quantity input{
    position:static;
    border: none;
    text-align: center;
    font-size: 15px;
    color: black;
    font-weight: bold;
    background:hsl(223, 64%, 98%);
    border-radius: 10px;
    width: 140px;
    height: 35px;
    padding: 0;
    margin-top: 8.5%;
}

.single-pro-details .fa-minus{
    position: absolute;
    margin-top: -465%;
    margin-left: -80%;
    color: hsl(26, 100%, 55%);
    width: 40px;
    height: 35px;
    transition:all 0.3s ease;
}

.single-pro-details .fa-minus:hover{
    cursor: pointer;
    color:hsl(26, 95%, 67%);
}

.single-pro-details .fa-plus{
    position: absolute;
    margin-top: -465%;
    margin-left: -190%;
    color: hsl(26, 100%, 55%);
    width: 40px;
    height: 35px;
    transition:all 0.3s ease;

}

.single-pro-details .fa-plus:hover{
    cursor: pointer;
    color:hsl(26, 95%, 67%);
}

.shopping button{
    display: flex;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    border: none;
    background:hsl(26, 100%, 55%);
    color:hsl(0, 0%, 100%);
    margin: -17.4% 0 0 45%;
    padding: 10px 0 0 59px;
}

.shopping button:hover{
    cursor: pointer;
    background: hsl(26, 95%, 67%);
}

.shopping button .cart{
    display: flex;
    margin-left: 7%;
    color: hsl(0, 0%, 100%);
    padding: 0px 10px 0 0;
}

.column {
    float: left;
    width: 25%;
    padding: 15px;
}

.column:hover{
    cursor: pointer;
    filter: opacity(40%);
}

.modal {
    position: fixed;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: hsl(0, 0%, 0%, 0.75);
}
  

.modal-content {
    position: relative;
    margin: auto;
    width: 30%;
}

.close {
    color: white;
    position: absolute;
    top: 20px;
    right: 35%;
    font-size: 35px;
    font-weight: bold;
    transition:all 0.3s ease;
}
  
.close:hover{
    color:hsl(26, 100%, 55%);
    text-decoration: none;
    cursor: pointer;
}

  
.modal-content .prev{
    position: absolute;
    padding: 6px 15px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    top: 55%;
    left: -5%;
    margin-top: -50px;
    color: grey;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition:all 0.3s ease;
}

.modal-content .next {
    position: absolute;
    text-align: center;
    justify-content: center;
    padding: 6px 15px;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    top: 55%;
    left: 95%;
    margin-top: -50px;
    color: grey;
    background-color: white;
    font-weight: bold;
    font-size: 20px;
    transition:all 0.3s ease;
}
  
.modal-content .prev:hover,
.modal-content .next:hover {
      color:hsl(26, 100%, 55%);
      cursor: pointer;
}
  
img {
    border-radius: 10px;
}



@media(max-width: 600px){
    #navbar{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        left: -200px;
        height: 100vh;
        width: 200px;
        background-color: white;
        padding: 80px 10px 0 0;
        transition: 0.3s ease;
        margin: 0;
    }
    #navbar.active{
        left: 0;
    }
    #navbar li{
        margin-bottom: 25px;
    }
    #mobile{
        display: flex;
        align-items: center;
    }
    #mobile i{
        color: grey;
        font-size: 20px;
        top: 32px;
        left: 10px;
        position: absolute;
    }
    h1{
        font-size: 25px;
        margin-left: -20%;
    }
    .avatar{
        margin-left: 86%;
    }
    .shopping div{
        margin-left: -38%;
    }
    #close{
        display: flex;
        position: absolute;
        top: 10px;
        left: 20px;
        color: grey;
        font-size: 20px;
        text-decoration: none;
    }
    #navbar li a{
        font-weight: bold;
        color: black;
    }
    #prodetails{
        display: flex;
        flex-direction: column;
        padding: 0;
        margin-top: -10px;
    }
    #prodetails .single-pro-image{
        width: 100%;
    }
    #prodetails .small-img-group .prev{
        display: flex;
        top: 45%;
        left: 2%;
    }
    #prodetails .small-img-group .next{
        display: flex;
        top: 45%;
        left: 88%;
    }
    #prodetails .single-pro-details{
        width: 100%;
    }
    #prodetails .single-pro-details h4{
        margin: -30px 0 0 -50px;
    }
    #prodetails .single-pro-details h2{
        display: flex;
        width: 320px;
        font-size: 25px;
        margin: -15px 0 0 -50px;
    }
    #prodetails .single-pro-details p{
        margin: -15px 0 0 -50px;
    }
    #prodetails .single-pro-details h3{
        margin: -15px -50px;
    }
    #prodetails .single-pro-details del{
        position: absolute;
        margin: -10px 0 0 220px;
    }
    #prodetails #MainImg{
        border-radius: 0;
        width: 100%;
        max-width:  600px;
    }
    #prodetails .small-img{
       display: none;
    }
    .shopping button{
        margin: -20px 0 0 8%;
        width: 320px;
        height: 45px;
        justify-content: center;
        text-align: center;
    }
    .single-pro-details .quantity input{
        width: 320px;
        height: 45px;
        margin: -3px 0 0 -12%;
        padding: 0 77px 0 77px; 
    }
    .single-pro-details .fa-minus{
        margin-top: 400%;
        margin-left: -120%;
        font-size:20px;
    }
    .single-pro-details .fa-plus{
        font-size: 20px;
        margin-top: 400%;
        margin-left: 400%;
    }
    .modal{
        left: 100%;
        right:  100%;
    }
}